---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    {% include scripts.html %}
    <div class="footer_site">
      <hr/>
      <div class="footer_copyright">
        © 2024-2025 Cyclic · Haobin Li | <a href="/sitemap/">Sitemap
      </div>
      </div>
  </body>
</html>
